<b><font color="red" size="6">ch12. 데이터프레임과 시리즈(Pandas)</font></b>
- pip install pandas

# 1절. 판다스 패키지
- 데이터 분석을 위해 반드시 알아야할 패키지. 넘파이를 기반으로 하며, 다른 많은 라이브러리와 잘 통합되도록 설계
- 1차원 구조를 갖는 시리즈, 2차원 구조를 갖는 데이터 프레임을 제공
- 판다스 장점 
              데이터 프레임 생성, 파일io, 레이블링, 부분데이터추출, 크기변경(행이나 열삽입, 삭제)
              데이터 분할, 병합, 데이터 정렬, 결측치 처리, 피벗과 언피벗등에 용이
- https://pypi.org/project/pandas/ (package index)
- https://pandas.pydata.org/docs/reference/index.html#api (API reference)

In [1]:
import pandas as pd
pd.__version__

'1.5.3'

In [2]:
data = pd.read_json('data/ch09_member1.json', encoding='cp949') # encoding 기본값 : utf-8
display(data)
print(type(data))

  name  age    email address
0  홍길동   20  h@h.com      서울
1  김길동   20  k@h.com      부산
2  신길동   20  s@h.com      안양

<class 'pandas.core.frame.DataFrame'>

In [3]:
member4 = pd.read_csv('data/ch09_member4.csv')
member4.head() # 최초 상위 5개행 가져오기

  Name  Age             Email   Address
0  홍길동   20  kildong@hong.com   서울시 관악구
1  김길동   40  kimdong@hong.com  서울시 영등포구
2  신길동   30  sindong@hong.com   서울시 동작구
3  홍길동   20  kildong@hong.com   서울시 관악구
4  김길동   40  kimdong@hong.com  서울시 영등포구

In [4]:
member1 = pd.read_csv('data/ch09_member1.csv', header=None, names=['Name', 'Age', 'Email','Address'])
member1

  Name  Age             Email   Address
0  홍길동   20  kildong@hong.com   서울시 관악구
1  김길동   20  kimdong@hong.com  서울시 영등포구
2  신길동   20  sindong@hong.com   서울시 동작구

In [5]:
iris = pd.read_hdf('data/ch09_iris2.hdf5', key='iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# 2절. 데이터 프레임 만들
## 2.1 딕셔너리를 이용해서 데이터프레임 만들기

In [6]:
# value가 list인 딕셔너리를 데이터프레임으로
d = {'kor':[100,90], 'mat':[95,99]}
df = pd.DataFrame(data = d)
df

   kor  mat
0  100   95
1   90   99

In [7]:
d = [{'kor':100, 'mat':99}]
pd.DataFrame(d)

   kor  mat
0  100   99

In [8]:
df.to_dict() # 데이터 프레임을 딕셔너리로

{'kor': {0: 100, 1: 90}, 'mat': {0: 95, 1: 99}}

In [9]:
df.to_numpy() # 데이터프레임을 넘파이배열

array([[100,  95],
       [ 90,  99]], dtype=int64)

In [10]:
# 딕셔너리 리스트를 데이터프레임으로
d = [{'kor':100, 'mat':95}, {'kor':90, 'mat':99}]
df = pd.DataFrame(data = d)
df

   kor  mat
0  100   95
1   90   99

In [11]:
df.dtypes

kor    int64
mat    int64
dtype: object

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kor     2 non-null      int64
 1   mat     2 non-null      int64
dtypes: int64(2)
memory usage: 160.0 bytes

In [13]:
df.dtypes.to_dict()

{'kor': dtype('int64'), 'mat': dtype('int64')}

In [14]:
df['kor'].dtype

dtype('int64')

In [15]:
import numpy as np
df['kor'] = df['kor'].astype(np.float64)

In [16]:
d = [{'kor':100, 'mat':100}, {'kor':90, 'mat':99}, {'kor':83, 'eng':85}]
df = pd.DataFrame(d)
df

   kor    mat   eng
0  100  100.0   NaN
1   90   99.0   NaN
2   83    NaN  85.0

In [17]:
type(np.nan)

float

In [18]:
# 결측치는 int로 형변환 불가(결측치를 대체값으로 치완 후 변환) df['mat'].astype(np.int32)

## 2.2 리스트를 이용해서 데이터 프레임 만들기

In [19]:
kor = [100,90,95,90,65]
eng = [100,95,94,64,85]
df = pd.DataFrame({'kor':kor, 'eng':eng})
df

   kor  eng
0  100  100
1   90   95
2   95   94
3   90   64
4   65   85

In [20]:
np.c_[kor, eng]

array([[100, 100],
       [ 90,  95],
       [ 95,  94],
       [ 90,  64],
       [ 65,  85]])

In [21]:
df = pd.DataFrame(np.c_[kor, eng], columns = ['Kor','Eng'])
df

   Kor  Eng
0  100  100
1   90   95
2   95   94
3   90   64
4   65   85

In [22]:
l = [[100,90],[10,20]]
df = pd.DataFrame(l, columns=['kor', 'eng'])
df

   kor  eng
0  100   90
1   10   20

In [89]:
%ls D:\KHH\ai\Download\shareData\상가정보

 D 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: C65B-EB1E

 D:\KHH\ai\Download\shareData\상가정보 디렉터리

2024-11-25  오후 07:13    <DIR>          .
2024-11-25  오후 07:13    <DIR>          ..
2024-10-23  오후 05:58             1,011 [필독]파일열람방법.txt
2024-10-23  오후 06:19        53,454,658 소상공인시장진흥공단_상가(상권)정보_강원_202409.csv
2024-10-23  오후 06:19       301,935,950 소상공인시장진흥공단_상가(상권)정보_경기_202409.csv
2024-10-23  오후 06:20        86,291,699 소상공인시장진흥공단_상가(상권)정보_경남_202409.csv
2024-10-23  오후 06:20        70,952,897 소상공인시장진흥공단_상가(상권)정보_경북_202409.csv
2024-10-23  오후 06:20        36,458,714 소상공인시장진흥공단_상가(상권)정보_광주_202409.csv
2024-10-23  오후 06:20        57,391,847 소상공인시장진흥공단_상가(상권)정보_대구_202409.csv
2024-10-23  오후 06:20        36,638,904 소상공인시장진흥공단_상가(상권)정보_대전_202409.csv
2024-10-23  오후 06:20        78,253,942 소상공인시장진흥공단_상가(상권)정보_부산_202409.csv
2024-10-23  오후 06:18       254,255,270 소상공인시장진흥공단_상가(상권)정보_서울_202409.csv
2024-10-23  오후 06:18         8,277,492 소상공인시장진흥공단_상가(상권)정보_세종_202409.csv
2024-10-23  오후 06:18        26,299,042 소상공인시장진흥공단_상가(상권)정보_울산_202409.csv
2024-10-23  오후 06:18        61,674,577 소상공인시장진흥공단_상가(상권)정보_인천_202409.csv
2024-10-23  오후 06:19        49,328,950 소상공인시장진흥공단_상가(상권)정보_전남_202409.csv
2024-10-23  오후 06:19        51,861,004 소상공인시장진흥공단_상가(상권)정보_전북_202409.csv
2024-10-23  오후 06:19        30,450,901 소상공인시장진흥공단_상가(상권)정보_제주_202409.csv
2024-10-23  오후 06:19        58,318,672 소상공인시장진흥공단_상가(상권)정보_충남_202409.csv
2024-10-23  오후 06:19        44,415,648 소상공인시장진흥공단_상가(상권)정보_충북_202409.csv
              18개 파일       1,306,261,178 바이트
               2개 디렉터리  980,839,559,168 바이트 남음

In [90]:
df = pd.read_csv(r'D:\KHH\ai\Download\shareData\상가정보\소상공인시장진흥공단_상가(상권)정보_세종_202409.csv', encoding='utf-8', sep=',', low_memory=False,nrows=30) # 기본값은 생략가능
df.shape

(30, 39)

In [91]:
df

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0084499,베트남쌀국수퍼짱,NaN,I2,음식,I205,동남아시아,I20501,베트남식 전문,I56194,...,3611010700103610086000001,모닝시티2,세종특별자치시 세종특별자치시 한누리대로 311,339003.0,30123,NaN,1.0,NaN,127.255840,36.492065
1,MA010120220805434190,더함인테리어컨설팅,NaN,M1,과학·기술,M112,전문 디자인,M11201,인테리어 디자인업,M73201,...,3611036033106370003000001,NaN,세종특별자치시 세종특별자치시 연서면 당산로 294,339813.0,30047,NaN,NaN,NaN,127.278712,36.559184
2,MA010120220805432469,모더니엘살롱,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,3611010700103610069000001,갤러리밸류시티,세종특별자치시 세종특별자치시 한누리대로 288,339003.0,30128,NaN,2.0,NaN,127.257100,36.489928
3,MA010120220805435562,카이젠교육,NaN,P1,교육,P105,일반 교육,P10501,입시·교과학원,P85501,...,3611010300106290005000003,보람빌딩,세종특별자치시 세종특별자치시 남세종로 450,339008.0,30150,NaN,7.0,NaN,127.290106,36.477413
4,MA010120220805437826,가재세탁,NaN,S2,수리·개인,S209,세탁,S20901,세탁소,S96912,...,3611011100200060000000001,가재마을3단지,세종특별자치시 세종특별자치시 도움3로 159,339013.0,30064,NaN,1.0,NaN,127.243749,36.503930
5,MA010120220805437034,세종마취과,NaN,Q1,보건의료,Q102,의원,Q10209,기타 의원,Q86201,...,3611025027101190012000001,NaN,세종특별자치시 세종특별자치시 조치원읍 새내1길 17,339802.0,30028,NaN,NaN,NaN,127.298363,36.596179
6,MA010120220805436870,세종유도관,NaN,P1,교육,P106,기타 교육,P10601,태권도/무술학원,P85611,...,3611010300107000076000001,위너스타워,세종특별자치시 세종특별자치시 남세종로 462,339008.0,30150,NaN,NaN,NaN,127.288827,36.476855
7,MA010120220805439448,세종종합법률사무소,NaN,M1,과학·기술,M103,법무관련,M10301,변호사,M71101,...,3611010700103610050000001,퍼스트원,세종특별자치시 세종특별자치시 나성북로 30,339003.0,30128,NaN,3.0,NaN,127.260244,36.489064
8,MA010120220805447501,로엘라,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,4473025021100010022036496,NaN,세종특별자치시 세종특별자치시 조치원읍 조치원7길 12,339883.0,30024,NaN,NaN,NaN,127.300701,36.602104
9,MA010120220805445058,딥핑크,NaN,G2,소매,G204,종합 소매,G20499,그 외 기타 종합 소매업,G47190,...,3611010800200100000000001,행운빌딩,세종특별자치시 세종특별자치시 새롬중앙로 55,339009.0,30126,NaN,1.0,NaN,127.250343,36.485749
10,MA010120220805446670,다카렌터카,NaN,N1,시설관리·임대,N109,운송장비 대여,N10901,자동차 대여업,N76110,...,3611035023101350003000002,NaN,세종특별자치시 세종특별자치시 장군면 대교길 147,339913.0,30052,NaN,1.0,NaN,127.222362,36.509335
11,MA010120220805452173,경진상사,NaN,S2,수리·개인,S206,기타 가정용품 수리,S20601,의류/이불 수선업,S95391,...,3611011000100000000000001,한뜰마을4단지,세종특별자치시 세종특별자치시 다솜1로 21,339012.0,30115,NaN,2.0,NaN,127.255634,36.500806
12,MA010120220805448766,미요가.필라테스,NaN,P1,교육,P106,기타 교육,P10603,요가/필라테스 학원,P85612,...,3611010800200190000000001,해피라움W,세종특별자치시 세종특별자치시 새롬중앙로 62-15,339009.0,30127,NaN,3.0,NaN,127.251201,36.487016
13,MA010120220805446877,세종드럼뮤직학원,NaN,P1,교육,P106,기타 교육,P10609,음악학원,P85621,...,3611025029100480002000001,NaN,세종특별자치시 세종특별자치시 조치원읍 충현로 91,339807.0,30029,NaN,NaN,NaN,127.295396,36.596684
14,MA010120220805448536,혜성주얼리,NaN,G2,소매,G217,시계·귀금속 소매,G21701,시계/귀금속 소매업,G47830,...,3611011400106530000000001,도램마을11단지,세종특별자치시 세종특별자치시 보듬4로 9,339006.0,30098,NaN,1.0,NaN,127.260707,36.513112
15,MA010120220805441159,목향재,NaN,I1,숙박,I101,일반 숙박,I10102,여관/모텔,I55102,...,3611011200117540000000001,NaN,세종특별자치시 세종특별자치시 만남로6길 33,339002.0,30063,NaN,NaN,NaN,127.239905,36.501977
16,MA010120220805440735,아름다운기획,NaN,M1,과학·기술,M105,광고,M10504,광고물 설계/제작업,M71393,...,3611035021100130000000001,NaN,세종특별자치시 세종특별자치시 장군면 풍덕골길 21-13,339913.0,30053,NaN,NaN,NaN,127.210656,36.493433
17,MA010120220805444116,스튜디오에프피,NaN,M1,과학·기술,M112,전문 디자인,M11204,패션/섬유/기타 전문 디자인업,M73209,...,3611011000106710000000001,에비뉴힐,세종특별자치시 세종특별자치시 갈매로 351,339012.0,30121,NaN,6.0,NaN,127.262186,36.494961
18,MA010120220805442955,올진스시,NaN,I2,음식,I203,일식,I20301,일식 회/초밥,I56122,...,3611011000105390000000001,KT&G세종타워A,세종특별자치시 세종특별자치시 한누리대로 411,339012.0,30116,NaN,3.0,NaN,127.258857,36.501123
19,MA010120220805441629,엄마손김밥,NaN,I2,음식,I210,기타 간이,I21007,김밥/만두/분식,I56194,...,3611010700104210000000001,에스알파크원,세종특별자치시 세종특별자치시 한누리대로 245,339003.0,30127,NaN,1.0,NaN,127.257683,36.486065
20,MA010120220805444812,부동산땅집go공인중개사사무소,NaN,L1,부동산,L102,부동산 서비스,L10203,부동산 중개/대리업,L68221,...,4473025029100010023039769,NaN,세종특별자치시 세종특별자치시 조치원읍 신흥샛터길 43,339807.0,30029,NaN,NaN,NaN,127.295235,36.597233
21,MA010120220805443708,머슬케어필라테스,NaN,P1,교육,P106,기타 교육,P10603,요가/필라테스 학원,P85612,...,3611010700103610079000001,메가타워2,세종특별자치시 세종특별자치시 나성북1로 12,339003.0,30128,NaN,5.0,NaN,127.257625,36.490995
22,MA010120220805442296,천지연가든,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,4473032023105860014019442,NaN,세종특별자치시 세종특별자치시 연서면 월하천로 3,339814.0,30043,NaN,NaN,NaN,127.264880,36.588912
23,MA010120220805440526,아르드뽀에스테틱,NaN,S2,수리·개인,S207,이용·미용,S20702,피부 관리실,S96113,...,3611010700104550001000001,세종마루,세종특별자치시 세종특별자치시 한누리대로 227,339003.0,30127,NaN,2.0,NaN,127.258510,36.484854
24,MA010120220805443477,쿠헤어,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,4473025025100330004042223,NaN,세종특별자치시 세종특별자치시 조치원읍 새내8길 17,339882.0,30027,NaN,1.0,NaN,127.299270,36.599645
25,MA010120220805457023,세종하이엔드학원,NaN,P1,교육,P105,일반 교육,P10501,입시·교과학원,P85501,...,3611010800100740004000001,에스제이타워,세종특별자치시 세종특별자치시 한누리대로 249,339003.0,30127,NaN,NaN,NaN,127.257457,36.486425
26,MA010120220805461877,캐치업세종,NaN,G2,소매,G215,의약·화장품 소매,G21503,화장품 소매업,G47813,...,3611010700103610037000001,스타타워,세종특별자치시 세종특별자치시 나성로 125-16,339003.0,30128,NaN,NaN,NaN,127.257757,36.490094
27,MA010120220805457615,인성세무회계사무소,NaN,M1,과학·기술,M104,회계·세무,M10401,공인회계사,M71201,...,3611010300106640010000001,스마트허브Ⅰ,세종특별자치시 세종특별자치시 한누리대로 2150,339008.0,30151,NaN,5.0,NaN,127.287328,36.478505
28,MA010120220805459636,모던제이,NaN,G2,소매,G209,섬유·의복·신발 소매,G20911,가방 소매업,G47440,...,4473035023101020000003387,NaN,세종특별자치시 세종특별자치시 전의면 내서길 37,339851.0,30004,NaN,NaN,NaN,127.192993,36.689317
29,MA010120220805452812,엘리시아헤어살롱,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,3611011600103200005000001,해밀마을1단지,세종특별자치시 세종특별자치시 해밀3로 32,NaN,30092,NaN,1.0,NaN,127.267243,36.529284

In [92]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
상가업소번호,MA0101202210A0084499,MA010120220805434190,MA010120220805432469,MA010120220805435562,MA010120220805437826,MA010120220805437034,MA010120220805436870,MA010120220805439448,MA010120220805447501,MA010120220805445058,...,MA010120220805444812,MA010120220805443708,MA010120220805442296,MA010120220805440526,MA010120220805443477,MA010120220805457023,MA010120220805461877,MA010120220805457615,MA010120220805459636,MA010120220805452812
상호명,베트남쌀국수퍼짱,더함인테리어컨설팅,모더니엘살롱,카이젠교육,가재세탁,세종마취과,세종유도관,세종종합법률사무소,로엘라,딥핑크,...,부동산땅집go공인중개사사무소,머슬케어필라테스,천지연가든,아르드뽀에스테틱,쿠헤어,세종하이엔드학원,캐치업세종,인성세무회계사무소,모던제이,엘리시아헤어살롱
지점명,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
상권업종대분류코드,I2,M1,S2,P1,S2,Q1,P1,M1,I2,G2,...,L1,P1,I2,S2,S2,P1,G2,M1,G2,S2
상권업종대분류명,음식,과학·기술,수리·개인,교육,수리·개인,보건의료,교육,과학·기술,음식,소매,...,부동산,교육,음식,수리·개인,수리·개인,교육,소매,과학·기술,소매,수리·개인
상권업종중분류코드,I205,M112,S207,P105,S209,Q102,P106,M103,I201,G204,...,L102,P106,I201,S207,S207,P105,G215,M104,G209,S207
상권업종중분류명,동남아시아,전문 디자인,이용·미용,일반 교육,세탁,의원,기타 교육,법무관련,한식,종합 소매,...,부동산 서비스,기타 교육,한식,이용·미용,이용·미용,일반 교육,의약·화장품 소매,회계·세무,섬유·의복·신발 소매,이용·미용
상권업종소분류코드,I20501,M11201,S20701,P10501,S20901,Q10209,P10601,M10301,I20101,G20499,...,L10203,P10603,I20101,S20702,S20701,P10501,G21503,M10401,G20911,S20701
상권업종소분류명,베트남식 전문,인테리어 디자인업,미용실,입시·교과학원,세탁소,기타 의원,태권도/무술학원,변호사,백반/한정식,그 외 기타 종합 소매업,...,부동산 중개/대리업,요가/필라테스 학원,백반/한정식,피부 관리실,미용실,입시·교과학원,화장품 소매업,공인회계사,가방 소매업,미용실
표준산업분류코드,I56194,M73201,S96112,P85501,S96912,Q86201,P85611,M71101,I56111,G47190,...,L68221,P85612,I56111,S96113,S96112,P85501,G47813,M71201,G47440,S96112
표준산업분류명,김밥 및 기타 간이 음식점업,인테리어 디자인업,두발 미용업,일반 교과학원,가정용 세탁업,일반의원,태권도 및 무술 교육기관,변호사업,한식 일반 음식점업,그 외 기타 종합 소매업,...,부동산 중개 및 대리업,기타 스포츠 교육기관,한식 일반 음식점업,피부 미용업,두발 미용업,일반 교과학원,화장품; 비누 및 방향제 소매업,공인회계사업,가방 및 기타 가죽제품 소매업,두발 미용업
시도코드,36,36,36,36,36,36,36,36,36,36,...,36,36,36,36,36,36,36,36,36,36
시도명,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,...,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시
시군구코드,36110,36110,36110,36110,36110,36110,36110,36110,36110,36110,...,36110,36110,36110,36110,36110,36110,36110,36110,36110,36110
시군구명,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,...,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시,세종특별자치시
행정동코드,36110518,36110360,36110518,36110560,36110540,36110250,36110560,36110518,36110250,36110515,...,36110250,36110518,36110360,36110518,36110250,36110518,36110518,36110560,36110370,36110525
행정동명,나성동,연서면,나성동,보람동,종촌동,조치원읍,보람동,나성동,조치원읍,새롬동,...,조치원읍,나성동,연서면,나성동,조치원읍,나성동,나성동,보람동,전의면,해밀동
법정동코드,3611010700,3611036033,3611010700,3611010300,3611011100,3611025027,3611010300,3611010700,3611025021,3611010800,...,3611025029,3611010700,3611036023,3611010700,3611025025,3611010700,3611010700,3611010300,3611037023,3611011600
법정동명,나성동,연서면,나성동,보람동,종촌동,조치원읍,보람동,나성동,조치원읍,새롬동,...,조치원읍,나성동,연서면,나성동,조치원읍,나성동,나성동,보람동,전의면,해밀동
지번코드,3611010700107320000,3611036033106370003,3611010700107640000,3611010300107600000,3611011100106790000,3611025027101190012,3611010300107570000,3611010700108090000,3611025021100010022,3611010800105840000,...,3611025029100010023,3611010700107880000,3611036023105860014,3611010700107500000,3611025025100340001,3611010700107460000,3611010700107950000,3611010300107220000,3611037023101020000,3611011600200080000
대지구분코드,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
대지구분명,대지,대지,대지,대지,대지,대지,대지,대지,대지,대지,...,대지,대지,대지,대지,대지,대지,대지,대지,대지,산
지번본번지,732,637,764,760,679,119,757,809,1,584,...,1,788,586,750,34,746,795,722,102,8
지번부번지,NaN,3.0,NaN,NaN,NaN,12.0,NaN,NaN,22.0,NaN,...,23.0,NaN,14.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
지번주소,세종특별자치시 세종특별자치시 나성동 732,세종특별자치시 세종특별자치시 연서면 봉암리 637-3,세종특별자치시 세종특별자치시 나성동 764,세종특별자치시 세종특별자치시 보람동 760,세종특별자치시 세종특별자치시 종촌동 679,세종특별자치시 세종특별자치시 조치원읍 남리 119-12,세종특별자치시 세종특별자치시 보람동 757,세종특별자치시 세종특별자치시 나성동 809,세종특별자치시 세종특별자치시 조치원읍 원리 1-22,세종특별자치시 세종특별자치시 새롬동 584,...,세종특별자치시 세종특별자치시 조치원읍 신흥리 1-23,세종특별자치시 세종특별자치시 나성동 788,세종특별자치시 세종특별자치시 연서면 성제리 586-14,세종특별자치시 세종특별자치시 나성동 750,세종특별자치시 세종특별자치시 조치원읍 정리 34-1,세종특별자치시 세종특별자치시 나성동 746,세종특별자치시 세종특별자치시 나성동 795,세종특별자치시 세종특별자치시 보람동 722,세종특별자치시 세종특별자치시 전의면 서정리 102,세종특별자치시 세종특별자치시 해밀동 산8
도로명코드,361102000002,361103258005,361102000002,361103350790,361103258082,361104574263,361103350790,361103351279,361104574472,361103351283,...,361104574352,361103351278,361103258027,361102000002,361104574272,361102000002,361103351277,361102000002,361104574061,361103352828
도로명,세종특별자치시 세종특별자치시 한누리대로,세종특별자치시 세종특별자치시 연서면 당산로,세종특별자치시 세종특별자치시 한누리대로,세종특별자치시 세종특별자치시 남세종로,세종특별자치시 세종특별자치시 도움3로,세종특별자치시 세종특별자치시 조치원읍 새내1길,세종특별자치시 세종특별자치시 남세종로,세종특별자치시 세종특별자치시 나성북로,세종특별자치시 세종특별자치시 조치원읍 조치원7길,세종특별자치시 세종특별자치시 새롬중앙로,...,세종특별자치시 세종특별자치시 조치원읍 신흥샛터길,세종특별자치시 세종특별자치시 나성북1로,세종특별자치시 세종특별자치시 연서면 월하천로,세종특별자치시 세종특별자치시 한누리대로,세종특별자치시 세종특별자치시 조치원읍 새내8길,세종특별자치시 세종특별자치시 한누리대로,세종특별자치시 세종특별자치시 나성로,세종특별자치시 세종특별자치시 한누리대로,세종특별자치시 세종특별자치시 전의면 내서길,세종특별자치시 세종특별자치시 해밀3로
건물본번지,311,294,288,450,159,17,462,30,12,55,...,43,12,3,227,17,249,125,2150,37,32
건물부번지,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,NaN,NaN
건물관리번호,3611010700103610086000001,3611036033106370003000001,3611010700103610069000001,3611010300106290005000003,3611011100200060000000001,3611025027101190012000001,3611010300107000076000001,3611010700103610050000001,4473025021100010022036496,3611010800200100000000001,...,4473025029100010023039769,3611010700103610079000001,4473032023105860014019442,3611010700104550001000001,4473025025100330004042223,3611010800100740004000001,3611010700103610037000001,3611010300106640010000001,4473035023101020000003387,3611011600103200005000001
건물명,모닝시티2,NaN,갤러리밸류시티,보람빌딩,가재마을3단지,NaN,위너스타워,퍼스트원,NaN,행운빌딩,...,NaN,메가타워2,NaN,세종마루,NaN,에스제이타워,스타타워,스마트허브Ⅰ,NaN,해밀마을1단지
도로명주소,세종특별자치시 세종특별자치시 한누리대로 311,세종특별자치시 세종특별자치시 연서면 당산로 294,세종특별자치시 세종특별자치시 한누리대로 288,세종특별자치시 세종특별자치시 남세종로 450,세종특별자치시 세종특별자치시 도움3로 159,세종특별자치시 세종특별자치시 조치원읍 새내1길 17,세종특별자치시 세종특별자치시 남세종로 462,세종특별자치시 세종특별자치시 나성북로 30,세종특별자치시 세종특별자치시 조치원읍 조치원7길 12,세종특별자치시 세종특별자치시 새롬중앙로 55,...,세종특별자치시 세종특별자치시 조치원읍 신흥샛터길 43,세종특별자치시 세종특별자치시 나성북1로 12,세종특별자치시 세종특별자치시 연서면 월하천로 3,세종특별자치시 세종특별자치시 한누리대로 227,세종특별자치시 세종특별자치시 조치원읍 새내8길 17,세종특별자치시 세종특별자치시 한누리대로 249,세종특별자치시 세종특별자치시 나성로 125-16,세종특별자치시 세종특별자치시 한누리대로 2150,세종특별자치시 세종특별자치시 전의면 내서길 37,세종특별자치시 세종특별자치시 해밀3로 32
구우편번호,339003.0,339813.0,339003.0,339008.0,339013.0,339802.0,339008.0,339003.0,339883.0,339009.0,...,339807.0,339003.0,339814.0,339003.0,339882.0,339003.0,339003.0,339008.0,339851.0,NaN
신우편번호,30123,30047,30128,30150,30064,30028,30150,30128,30024,30126,...,30029,30128,30043,30127,30027,30127,30128,30151,30004,30092
동정보,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
층정보,1.0,NaN,2.0,7.0,1.0,NaN,NaN,3.0,NaN,1.0,...,NaN,5.0,NaN,2.0,1.0,NaN,NaN,5.0,NaN,1.0
호정보,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경도,127.25584,127.278712,127.2571,127.290106,127.243749,127.298363,127.288827,127.260244,127.300701,127.250343,...,127.295235,127.257625,127.26488,127.25851,127.29927,127.257457,127.257757,127.287328,127.192993,127.267243
위도,36.492065,36.559184,36.489928,36.477413,36.50393,36.596179,36.476855,36.489064,36.602104,36.485749,...,36.597233,36.490995,36.588912,36.484854,36.599645,36.486425,36.490094,36.478505,36.689317,36.529284

In [93]:
df.head(1) # 상위 1행만 출력

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0084499,베트남쌀국수퍼짱,NaN,I2,음식,I205,동남아시아,I20501,베트남식 전문,I56194,...,3611010700103610086000001,모닝시티2,세종특별자치시 세종특별자치시 한누리대로 311,339003.0,30123,NaN,1.0,NaN,127.25584,36.492065

In [ ]:
# 판다스 디스플레이 옵션
pd.options.display.max_columns = 40
pd.options.display.max_rows = 40
df.head(1)

## 2.3 read_csv

In [25]:
# (1) CSV 파일 불러오기 (기본값)
member = pd.read_csv('data/ch12_member.csv', encoding='utf-8', sep=',')
member

   Name  Age          Email  Address       Birth
0   홍길동   20  hong@hong.com  서울시 강동구  1999-01-01
1   홍길서   30   seo@hong.com   서울시 중구  1999-12-01
2   홍길남   21   nam@hong.com  서울시 강동구  1999-11-01
3   홍길북   22   buk@hong.com  서울시 관악구  1999-05-01
4   홍길중   23   mid@hong.com   부산시 중구  1999-01-30
5  #홍길뜽   24    non@not.com      없는구  2000-01-01

In [26]:
member.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     6 non-null      object
 1   Age      6 non-null      int64
 2   Email    6 non-null      object
 3   Address  6 non-null      object
 4   Birth    6 non-null      object
dtypes: int64(1), object(4)
memory usage: 368.0+ bytes

In [27]:
# 문자로 읽어들인 Birth를 datetime형으로
# 형변환은 astype()쓰지만 datetime형으로 변환할 때는 to_datetime()함수를 사용
member['Birth'] = pd.to_datetime(member['Birth'])
member.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     6 non-null      object
 1   Age      6 non-null      int64
 2   Email    6 non-null      object
 3   Address  6 non-null      object
 4   Birth    6 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 368.0+ bytes

In [28]:
import numpy as np
member['Age'] = member['Age'].astype(np.int16)
member.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     6 non-null      object
 1   Age      6 non-null      int16
 2   Email    6 non-null      object
 3   Address  6 non-null      object
 4   Birth    6 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int16(1), object(3)
memory usage: 332.0+ bytes

In [29]:
# (2) 특정 몇행만 읽어오기
member = pd.read_csv('data/ch12_membercp949.csv', encoding='cp949', skiprows=[1,6]) # 1,6번째 행 제외하고 읽어오기(시작이 1부터)
member

  Name  Age         Email  Address       Birth
0  홍길서   30  seo@hong.com   서울시 중구  1999-12-01
1  홍길남   21  nam@hong.com  서울시 강동구  1999-11-01
2  홍길북   22  buk@hong.com  서울시 관악구  1999-05-01
3  홍길중   23  mid@hong.com   부산시 중구  1999-01-30

In [30]:
# (3) 상위 5행만 읽어오기
member_df = pd.read_csv('data/ch12_membersep.csv', sep='|', nrows=5) # 상위 5개행만 읽어오기
member_df

  Name  Age          Email  Address       Birth
0  홍길동   20  hong@hong.com  서울시 강동구  1999-01-01
1  홍길서   30   seo@hong.com   서울시 중구  1999-12-01
2  홍길남   21   nam@hong.com  서울시 강동구  1999-11-01
3  홍길북   22   buk@hong.com  서울시 관악구  1999-05-01
4  홍길중   23   mid@hong.com   부산시 중구  1999-01-30

In [31]:
# (4) 주석제외, datetime형 필드 지정하여 읽어오기
member_df = pd.read_csv('data/ch12_membertap.csv', sep='\t', parse_dates=['Birth'] # datetime형으로 읽어올 컬럼 지정
                        , comment='#') # #이 있는행은 제외하고 읽어오기
member_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Age      5 non-null      int64
 2   Email    5 non-null      object
 3   Address  5 non-null      object
 4   Birth    5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 328.0+ bytes

## iris 데이터 가져오기 방법1 : sklearn(머신러닝패키지)
## iris 데이터 가져오기 방법2 : statsmodels(R데이터 가져오기)
## iris 데이터 가져오기 방법3 : seaborn(시각화 패키지)
## 2.4 sklearn.dataset 모듈 데이터(iris)를 데이터 프레임으로 변환

In [32]:
from sklearn import datasets
# import sklearn.datasets as datasets
# sklearn 패키는 머신러닝을 공부하기위한, 학습 데이터셋들을 제공
# sklearn 패키지에서 제공되는 데이터셋들은 딕셔너리 형식으로 제공
iris = datasets.load_iris()
iris # 딕셔너리 형태

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [33]:
print(iris.DESCR) # iris 데이터 셋에 대한 설명

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [34]:
iris.data # 독립변수
iris['data'][:3]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2]])

In [35]:
iris.feature_names # 독립변수의 열이름
iris['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [36]:
# 데이터프레임에서 열이름
[col[:-4].strip().replace(' ','_') for col in iris.feature_names]

['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [37]:
[col[:12].strip().replace(' ','_') for col in iris.feature_names]

['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [38]:
iris.target
iris['target']

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [39]:
iris.target_names
iris['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [40]:
# 데이터 프레임의 가장 오르쪽열
iris.target_names[iris.target]

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica'], dtype='<U10')

In [41]:
# 독립변수
data = iris.data
print(data[:5])
# 종속변수
target = iris.target_names[iris.target].reshape(-1,1)
print(target)

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]
[['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['setosa']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['versicolor']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']
 ['virginica']]

In [42]:
print('독립변수 차원 :', data.shape)
print('종속변수 차원 :', target.shape)

독립변수 차원 : (150, 4)
종속변수 차원 : (150, 1)

In [43]:
pd.DataFrame(np.hstack((data, target)), columns=[col[:12].strip().replace(' ','_') for col in iris.feature_names]+['spacies'])

    sepal_length sepal_width petal_length petal_width    spacies
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [44]:
df = pd.DataFrame(np.hstack((data, target)), columns=iris.feature_names+['spacies'])
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),spacies
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [45]:
df.spacies # df['spacies']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: spacies, Length: 150, dtype: object

In [46]:
df['sepal length (cm)']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: object

In [47]:
# 독립변수, 종속변수를 따로 데이터프레임으로 만들고 두 데이터 프레임을 연결
X = pd.DataFrame(iris.data, columns=iris.feature_names) # x : 독립변수 데이터 프레임
X.head(1)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2

In [48]:
X.columns = [col[:-4].strip().replace(' ', '-') for col in iris.feature_names]

In [49]:
X.head(1)

   sepal-length  sepal-width  petal-length  petal-width
0           5.1          3.5           1.4          0.2

In [50]:
# y : 종속변수 데이터 프레임
y = pd.DataFrame(iris.target_names[iris.target], columns=['species'])
y

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [51]:
print(X.index) # index : 행 이름
print(y.index)

RangeIndex(start=0, stop=150, step=1)
RangeIndex(start=0, stop=150, step=1)

In [52]:
# 데이터 프레임 연결하기 (열로 연결)
iris_df = pd.concat([X,y], axis=1)
iris_df

     sepal-length  sepal-width  petal-length  petal-width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [53]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal-length  150 non-null    float64
 1   sepal-width   150 non-null    float64
 2   petal-length  150 non-null    float64
 3   petal-width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

## 2.5 statsmodels 패키지의 iris

In [54]:
# iris 데이터 가져오기 방법2 : R 데이터 가져오기
import statsmodels.api as sm
iris_data = sm.datasets.get_rdataset('iris',package='datasets', cache=True)
iris_data

In [55]:
iris = iris_data.data
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [56]:
iris.columns = [col.replace('.','') for col in iris.columns]
iris.head(1)

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          5.1         3.5          1.4         0.2  setosa

## 2.6 seaborn 패키지의 iris

In [57]:
# iris 데이터 가져오기 방법3 : seaborn
import seaborn as sns
iris = sns.load_dataset('iris')
iris.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [58]:
# 데이터 프레임을 파일로 출력 4k
iris.to_csv('data/ch12_iris.csv', index=False)# 행이름 생략되서 파일 출력

In [59]:
# 1k
iris.to_csv('data/ch12_iris.csv.gz', index=False, compression='infer')

In [60]:
read_iris = pd.read_csv('data/ch12_iris.csv.gz', compression='infer')
read_iris.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

# 3절 이름(열, 행) 지정하기
## 3.1 열이름 지정하기

In [61]:
member = pd.read_csv('data/ch12_member.csv', comment='#')
member

  Name  Age          Email  Address       Birth
0  홍길동   20  hong@hong.com  서울시 강동구  1999-01-01
1  홍길서   30   seo@hong.com   서울시 중구  1999-12-01
2  홍길남   21   nam@hong.com  서울시 강동구  1999-11-01
3  홍길북   22   buk@hong.com  서울시 관악구  1999-05-01
4  홍길중   23   mid@hong.com   부산시 중구  1999-01-30

In [62]:
member.columns

Index(['Name', 'Age', 'Email', 'Address', 'Birth'], dtype='object')

In [63]:
member.columns = ['이름', '나이', '메일', '주소', '생년월일']
member

    이름  나이             메일       주소        생년월일
0  홍길동  20  hong@hong.com  서울시 강동구  1999-01-01
1  홍길서  30   seo@hong.com   서울시 중구  1999-12-01
2  홍길남  21   nam@hong.com  서울시 강동구  1999-11-01
3  홍길북  22   buk@hong.com  서울시 관악구  1999-05-01
4  홍길중  23   mid@hong.com   부산시 중구  1999-01-30

## 3.2 행이름 지정

In [64]:
member.index

RangeIndex(start=0, stop=5, step=1)

In [65]:
member.index = range(10,15)
member

     이름  나이             메일       주소        생년월일
10  홍길동  20  hong@hong.com  서울시 강동구  1999-01-01
11  홍길서  30   seo@hong.com   서울시 중구  1999-12-01
12  홍길남  21   nam@hong.com  서울시 강동구  1999-11-01
13  홍길북  22   buk@hong.com  서울시 관악구  1999-05-01
14  홍길중  23   mid@hong.com   부산시 중구  1999-01-30

In [66]:
member.index = ['동','서','남','북','중']
member

    이름  나이             메일       주소        생년월일
동  홍길동  20  hong@hong.com  서울시 강동구  1999-01-01
서  홍길서  30   seo@hong.com   서울시 중구  1999-12-01
남  홍길남  21   nam@hong.com  서울시 강동구  1999-11-01
북  홍길북  22   buk@hong.com  서울시 관악구  1999-05-01
중  홍길중  23   mid@hong.com   부산시 중구  1999-01-30

In [67]:
member['이름']['서']

'홍길서'

In [68]:
member.loc['서', '이름'] # loc : 행이름과 열이름으로 데이터 프레임의 부분 데이터 조회

'홍길서'

In [69]:
# 이름을 행 이름으로 (실행결과가 출력되서 나오면 return될 뿐, member는 안바뀜)
# member를 수정하려면 (1) 할당 (2) inplace 매개변수에 True (기본값은 False)
member1 = member.set_index('이름')
member1

     나이             메일       주소        생년월일
이름
홍길동  20  hong@hong.com  서울시 강동구  1999-01-01
홍길서  30   seo@hong.com   서울시 중구  1999-12-01
홍길남  21   nam@hong.com  서울시 강동구  1999-11-01
홍길북  22   buk@hong.com  서울시 관악구  1999-05-01
홍길중  23   mid@hong.com   부산시 중구  1999-01-30

In [70]:
member.set_index('이름', inplace=True)
member

     나이             메일       주소        생년월일
이름
홍길동  20  hong@hong.com  서울시 강동구  1999-01-01
홍길서  30   seo@hong.com   서울시 중구  1999-12-01
홍길남  21   nam@hong.com  서울시 강동구  1999-11-01
홍길북  22   buk@hong.com  서울시 관악구  1999-05-01
홍길중  23   mid@hong.com   부산시 중구  1999-01-30

In [71]:
member.index

Index(['홍길동', '홍길서', '홍길남', '홍길북', '홍길중'], dtype='object', name='이름')

In [72]:
# 인덱스를 컬럼에 편입시키기
member.reset_index(inplace=True)
member

    이름  나이             메일       주소        생년월일
0  홍길동  20  hong@hong.com  서울시 강동구  1999-01-01
1  홍길서  30   seo@hong.com   서울시 중구  1999-12-01
2  홍길남  21   nam@hong.com  서울시 강동구  1999-11-01
3  홍길북  22   buk@hong.com  서울시 관악구  1999-05-01
4  홍길중  23   mid@hong.com   부산시 중구  1999-01-30

In [73]:
member.index = [0,11,2,13,4]
member

     이름  나이             메일       주소        생년월일
0   홍길동  20  hong@hong.com  서울시 강동구  1999-01-01
11  홍길서  30   seo@hong.com   서울시 중구  1999-12-01
2   홍길남  21   nam@hong.com  서울시 강동구  1999-11-01
13  홍길북  22   buk@hong.com  서울시 관악구  1999-05-01
4   홍길중  23   mid@hong.com   부산시 중구  1999-01-30

In [74]:
# 기존 index를 새로운 열에 편입시키지 않고 완전히 제거 후 숫자 index로 초기화
member.reset_index(drop=True, inplace=True)
member

    이름  나이             메일       주소        생년월일
0  홍길동  20  hong@hong.com  서울시 강동구  1999-01-01
1  홍길서  30   seo@hong.com   서울시 중구  1999-12-01
2  홍길남  21   nam@hong.com  서울시 강동구  1999-11-01
3  홍길북  22   buk@hong.com  서울시 관악구  1999-05-01
4  홍길중  23   mid@hong.com   부산시 중구  1999-01-30

In [75]:
member = pd.read_csv('data/ch12_member.csv', comment='#', parse_dates=['Birth'])
member

  Name  Age          Email  Address      Birth
0  홍길동   20  hong@hong.com  서울시 강동구 1999-01-01
1  홍길서   30   seo@hong.com   서울시 중구 1999-12-01
2  홍길남   21   nam@hong.com  서울시 강동구 1999-11-01
3  홍길북   22   buk@hong.com  서울시 관악구 1999-05-01
4  홍길중   23   mid@hong.com   부산시 중구 1999-01-30

In [76]:
member.head(1)

  Name  Age          Email  Address      Birth
0  홍길동   20  hong@hong.com  서울시 강동구 1999-01-01

In [77]:
member.loc[0, 'Birth']

Timestamp('1999-01-01 00:00:00')

In [78]:
# 시리즈.dt : datetime열에서 날짜 및 시간에 관련된 정보를 추출하기 위해 사용
member['Birth'].dt.year

0    1999
1    1999
2    1999
3    1999
4    1999
Name: Birth, dtype: int64

In [79]:
member['Birth'].dt.month

0     1
1    12
2    11
3     5
4     1
Name: Birth, dtype: int64

In [80]:
member['Birth'].dt.weekday# 0 월, 1 화........ 6 일

0    4
1    2
2    0
3    5
4    5
Name: Birth, dtype: int64

## 3.3 레벨이름 지정하기

In [81]:
member

  Name  Age          Email  Address      Birth
0  홍길동   20  hong@hong.com  서울시 강동구 1999-01-01
1  홍길서   30   seo@hong.com   서울시 중구 1999-12-01
2  홍길남   21   nam@hong.com  서울시 강동구 1999-11-01
3  홍길북   22   buk@hong.com  서울시 관악구 1999-05-01
4  홍길중   23   mid@hong.com   부산시 중구 1999-01-30

In [82]:
member.columns = [['기본정보','기본정보','기본정보','추가정보','추가정보'],
                  ['이름', '나이', '메일', '주소', '생년월일']]
member.columns.names = ['대분류', '소분류']
member

대분류 기본정보                        추가정보
소분류   이름  나이             메일       주소       생년월일
0    홍길동  20  hong@hong.com  서울시 강동구 1999-01-01
1    홍길서  30   seo@hong.com   서울시 중구 1999-12-01
2    홍길남  21   nam@hong.com  서울시 강동구 1999-11-01
3    홍길북  22   buk@hong.com  서울시 관악구 1999-05-01
4    홍길중  23   mid@hong.com   부산시 중구 1999-01-30

In [83]:
member.index = [['좌우','좌우','상하','상하','상하'],
                ['동','서','남','북','중']]
member

대분류  기본정보                        추가정보
소분류    이름  나이             메일       주소       생년월일
좌우 동  홍길동  20  hong@hong.com  서울시 강동구 1999-01-01
   서  홍길서  30   seo@hong.com   서울시 중구 1999-12-01
상하 남  홍길남  21   nam@hong.com  서울시 강동구 1999-11-01
   북  홍길북  22   buk@hong.com  서울시 관악구 1999-05-01
   중  홍길중  23   mid@hong.com   부산시 중구 1999-01-30

In [84]:
member.loc['좌우','기본정보']['나이']

동    20
서    30
Name: 나이, dtype: int64

In [85]:
member.loc['좌우','기본정보'].loc['동','나이']

20