<b><font color="red" size="6">ch12. 데이터프레임과 시리즈(Pandas)</font></b>
- pip install pandas

# 1절. 판다스 패키지
- 데이터 분석을 위해 반드시 알아야할 패키지. 넘파이를 기반으로 하며, 다른 많은 라이브러리와 잘 통합되도록 설계
- 1차원 구조를 갖는 시리즈, 2차원 구조를 갖는 데이터 프레임을 제공
- 판다스 장점 
              데이터 프레임 생성, 파일io, 레이블링, 부분데이터추출, 크기변경(행이나 열삽입, 삭제)
              데이터 분할, 병합, 데이터 정렬, 결측치 처리, 피벗과 언피벗등에 용이
- https://pypi.org/project/pandas/ (package index)
- https://pandas.pydata.org/docs/reference/index.html#api (API reference)

In [1]:
import pandas as pd
pd.__version__

'1.5.3'

In [5]:
data = pd.read_json('data/ch09_member1.json', encoding='cp949') # encoding 기본값 : utf-8
display(data)
print(type(data))

  name  age    email address
0  홍길동   20  h@h.com      서울
1  김길동   20  k@h.com      부산
2  신길동   20  s@h.com      안양

<class 'pandas.core.frame.DataFrame'>

In [9]:
member4 = pd.read_csv('data/ch09_member4.csv')
member4.head() # 최초 상위 5개행 가져오기

  Name  Age             Email   Address
0  홍길동   20  kildong@hong.com   서울시 관악구
1  김길동   40  kimdong@hong.com  서울시 영등포구
2  신길동   30  sindong@hong.com   서울시 동작구
3  홍길동   20  kildong@hong.com   서울시 관악구
4  김길동   40  kimdong@hong.com  서울시 영등포구

In [14]:
member1 = pd.read_csv('data/ch09_member1.csv', header=None, names=['Name', 'Age', 'Email','Address'])
member1

  Name  Age             Email   Address
0  홍길동   20  kildong@hong.com   서울시 관악구
1  김길동   20  kimdong@hong.com  서울시 영등포구
2  신길동   20  sindong@hong.com   서울시 동작구

In [16]:
iris = pd.read_hdf('data/ch09_iris2.hdf5', key='iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# 2절. 데이터 프레임 만들
## 2.1 딕셔너리를 이용해서 데이터프레임 만들기

In [18]:
# value가 list인 딕셔너리를 데이터프레임으로
d = {'kor':[100,90], 'mat':[95,99]}
df = pd.DataFrame(data = d)
df

   kor  mat
0  100   95
1   90   99

In [17]:
d = [{'kor':100, 'mat':99}]
pd.DataFrame(d)

   kor  mat
0  100   99

In [19]:
df.to_dict() # 데이터 프레임을 딕셔너리로

{'kor': {0: 100, 1: 90}, 'mat': {0: 95, 1: 99}}

In [20]:
df.to_numpy() # 데이터프레임을 넘파이배열

array([[100,  95],
       [ 90,  99]], dtype=int64)

In [22]:
# 딕셔너리 리스트를 데이터프레임으로
d = [{'kor':100, 'mat':95}, {'kor':90, 'mat':99}]
df = pd.DataFrame(data = d)
df

   kor  mat
0  100   95
1   90   99

In [23]:
df.dtypes

kor    int64
mat    int64
dtype: object

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kor     2 non-null      int64
 1   mat     2 non-null      int64
dtypes: int64(2)
memory usage: 160.0 bytes