<b><font color="red" size="6">ch03. 데이터 구조</font></b>
- 리스트[], 튜플(), 딕셔너리(hashMap과 유사), 셋

#  1절. 리스트

## 1.1 리스트 만들기
    - []를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있음
    - list()함수 이용도 가능
    - 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
    - 슬라이싱([from:to:by]) : 부분 데이터셋을 추출. 
    - 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [1]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [2]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [3]:
print(fruits[0])

banana

In [4]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [5]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x = {}".format(x))
print("y = {}".format(y))
print("z = {}".format(z))

x = mango
y = apple
z = orange

In [6]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하면서 지정된 범위의
            # 숫자를 순차적으로 사용할 수 있게 
            # from 생략시 0, by 생략시 1
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [9]:
list(range(10,-1, -2))

[10, 8, 6, 4, 2, 0]

In [10]:
for i in [0,1,2]:
    print(i)

0
1
2

In [11]:
for i in range(3): # 0~2
    print(i)

0
1
2

In [12]:
for fruit in fruits:
    print(fruit)

mango
apple
orange

In [17]:
fruits = ['mango', 'apple', 'orange', 'banana']
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [18]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'banana')]

In [20]:
for idx, value in enumerate(fruits) :
    print("{}번째 과일은 {}".format(idx, value))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [21]:
numbers = [1,2,3,'4', True, [1,2,3]]
numbers

[1, 2, 3, '4', True, [1, 2, 3]]

In [26]:
#2차원 리스트
numbers_2d = [[1,2,3,4,5],
              [11,12,13,14,15],
              [101,102,103,94,95]]
len(numbers_2d),len(numbers_2d[2])

(3, 5)

In [27]:
numbers_2d[1][1]

12

In [31]:
for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d[1])):
        print("{}행{}열 : {}".format(i,j,numbers_2d[i][j]), end="\t")
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 11	1행1열 : 12	1행2열 : 13	1행3열 : 14	1행4열 : 15
2행0열 : 101	2행1열 : 102	2행2열 : 103	2행3열 : 94	2행4열 : 95

## 1.2 기본 정보 조회

In [33]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1,2,3],
              [9,100,110,102,130]]

In [42]:
#요소의 수
len(numbers), len(numbers_2d)

(5, 2)

In [41]:
#최소값, 최대값
min(numbers),max(numbers)

(1, 12)

In [40]:
# 2차원 list의 min() : 부분 list중에서 첫 요소가 가장 작은값
#              max() : 부분 list중에서 첫 요소가 가장 큰값
min(numbers_2d),max(numbers_2d)

([9, 100, 110, 102, 130], [100, 0, 1, 2, 3])

In [43]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min(), max()적용
fruits = ['mango', 'banana', 'orange']
min(fruits),max(fruits)

('banana', 'orange')

In [48]:
# 정렬하기
numbers = [1,12,3,56,4,8,5]
print('오름차순정렬 :', sorted(numbers))
print('내림차순정렬 :', sorted(numbers,reverse=True))
print('합 :', sum(numbers))
print('sorted 함수 사용시 리스트 내용이 바뀌지 않음 :',numbers)

오름차순정렬 : [1, 3, 4, 5, 8, 12, 56]
내림차순정렬 : [56, 12, 8, 5, 4, 3, 1]
합 : 89
sorted 함수 사용시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 56, 4, 8, 5]

## 1.3 요소 추가

In [ ]:
'''
+ : 두 리스트 연결
* : 리스트를 곱한 수 만큼 반복
append() : 요소 맨 뒤에 추가
extend() : 리스트를 요소별로 맨 뒤에 추가
insert(idx, 값) : idx번째 인덱스 위치에 값 추가
'''

In [50]:
numbers = [1,2,3]
numbers = numbers +numbers
numbers

[1, 2, 3, 1, 2, 3]

In [51]:
numbers = [1,2,3]
print(3 * numbers)
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [52]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [53]:
numbers.append([5,6,7]) # 맨 뒤에 요소 추가
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [55]:
num = [1,2,3]
num.extend([4,5,6]) # 요소별로 맨 뒤에 각기 추가
num

[1, 2, 3, 4, 5, 6]

In [60]:
lst = ['a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [61]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [62]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [63]:
numbers = [1,2,3,4,5]
numbers.insert(1, 'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
 - 변수[index] : 인덱스를 이용한 접근
 - index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
 - count(찾을데이터) : 리스트에서 대이터의 갯수를 반환

In [64]:
numbers =[1,2,3,[1,2,3],1,2,3]

In [65]:
numbers.count(2)

2

In [67]:
9 in numbers

False

In [68]:
numbers =[1,2,3,[1,2,3],1,2,3]
numbers.index(2) # 처음(0인덱스)부터 2가 나오는 위치

1

In [69]:
numbers.index(2, 2) # 2번 인덱스부터 2가 처음나오는 위치

5

In [70]:
# 9가 numbers 리스트의 요소에 있는지 여부를 검사
print(numbers.count(9))
print(9 in numbers)

0
False

In [72]:
if 9 in numbers :
    numbers.index(9)
else :
    print('9없음')

9없음

In [76]:
def safe_index(lst, item):
    if item in lst:
        return lst.index(item)
    else:
        return -1

In [79]:
def safe_index(lst, item):
    return lst.index(item) if item in lst else -1

In [81]:
safe_index(numbers, 3)

2

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : list에서 원하는 index의 데이터를 추출

- 인덱스의 범위를 벗어난 값도 에러나지 않음
- [from:stop:step] from부터 stop앞까지 step씩 증가하는 인덱스를 추출
        from 생략시 처음, stop 생략시 끝, step생략시 1 모두 생략 가능
- 인덱스는 음수 가능
2. <b>리스트 컴프리헨션</b> : list에서 원하는 데이터 엑세스

In [84]:
numbers = [1,3,5,9,10,12,13,18,19,20]
#거꾸로 출력
print(numbers[::-1])
print(numbers[0:10:2])
print(numbers[0:100])

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [89]:
#리스트 컴프리헨션을 이용해서 list의 원하는 데이터 엑세스
#모든데이터 추출
numbers = [1,3,5,9,10,12,13,18,19,20]
# for data in numbers :
#        print(data, end='\t')
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [90]:
#짝수데이터 추출
numbers = [1,3,5,9,10,12,13,18,19,20]
# for data in numbers :
#     if data%2==0 :
#         print(data, end='\t')
[data for data in numbers if data%2 == 0]

[10, 12, 18, 20]

In [91]:
# ex1. numbers 에서 10이상의 요소만 추출
numbers = [1,3,5,9,10,12,13,18,19,20]
[data for data in numbers if data>=10]

[10, 12, 13, 18, 19, 20]

In [92]:
# ex2. fruits 에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange','apple','mango','kiwi']
[data for data in fruits if len(data)>=5]

['orange', 'apple', 'mango']

In [99]:
# ex2-1. fruits 에서 과일의 글자수
fruits = ['orange','apple','mango','kiwi']
[len(data) for data in fruits]

[6, 5, 5, 4]

In [98]:
# ex3. 리스트의 값의 제곱을 추출
L = [1,2,3,4,5]
[data**2 for data in L]

[1, 4, 9, 16, 25]

In [100]:
# ex3-1. 리스트의 3이상의 요소들의 제곱을 추출
L = [1,2,3,4,5]
[data**2 for data in L if data>=3]

[9, 16, 25]

In [97]:
# ex4. 리스트의 값의 두배로 추출
L = [1,2,3,4,5]
[data*2 for data in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

In [104]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [105]:
#슬라이싱(step부분 미포함)을 이용하여 부분리스트를 통째로 수정
numbers[0:2] = ['xx','xx','xx','xx','xx','xx','xx','xx','xx','xx']
numbers

['xx',
 'xx',
 'xx',
 'xx',
 'xx',
 'xx',
 'xx',
 'xx',
 'xx',
 'xx',
 222,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

In [109]:
# 슬라이싱(step 부분 포함)을 이용하여 부분 수정
numbers = [0]*10
print('수정전 :',numbers)
numbers[::2] = [9,9,9,9,9] #갯수 맞아야함
print('수정후 :',numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [111]:
# 수정하려는 요소의 갯수가 맞지 않으면 에러
numbers[::2] = [1,2,3,4,5,6]

ValueError: attempt to assign sequence of size 6 to extended slice of size 5

## 1.7 요소 삭제
- pop() : 가장 마지막 index의 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(data) : list안에 data가 삭제
- del 리스트변수[idx] : idx번째 요소가 삭제

In [115]:
numbers = [1,2,3,4,5]
print('삭제한 데이터 :',numbers.pop())
print('삭제한 후 numbers :', numbers)
print('삭제한 데이터 :',numbers.pop())
print('삭제한 후 numbers :', numbers)
print('삭제한 데이터 :',numbers.pop(0))
print('삭제한 후 numbers :', numbers)

삭제한 데이터 : 5
삭제한 후 numbers : [1, 2, 3, 4]
삭제한 데이터 : 4
삭제한 후 numbers : [1, 2, 3]
삭제한 데이터 : 1
삭제한 후 numbers : [2, 3]

In [117]:
numbers = [0,1,2,3,4,5]
print(numbers.remove(3)) # remove()는 반환값이 없고, 해당 데이터 삭제만
print(numbers)

None
[0, 1, 2, 4, 5]

In [119]:
print(numbers.remove(9))
print(numbers)

ValueError: list.remove(x): x not in list

In [120]:
if 9 in numbers :
    numbers.remove(9)
else :
    print('해당 데이터는 없는 데이터입니다')

해당 데이터는 없는 데이터입니다

In [121]:
def safe_remove(lst, remove_item) :
    if remove_item in lst :
        lst.remove(remove_item)
    else :
        print('해당 데이터는 없는 데이터입니다')

In [122]:
safe_remove(numbers, 9)

해당 데이터는 없는 데이터입니다

In [126]:
numbers = [0,1,2,3,4,5]
del numbers[2] # 2번째 index 요소 삭제
print('삭제후 데이터 :',numbers)

삭제후 데이터 : [0, 1, 3, 4, 5]

In [132]:
del numbers_ #변수삭제

## 1.8 정렬하기

In [140]:
numbers = [9,5,0,8,6]
numbers.sort() #numbers 자체가 정렬한 결과로 바뀜(기본은 오름차순)
print(numbers)

[0, 5, 6, 8, 9]

In [141]:
numbers = numbers[::-1] # 오름차순 결과를 내림차순으로
numbers

[9, 8, 6, 5, 0]

In [143]:
numbers = [9,5,0,8,6]
numbers.reverse() # 리스트를 역순으로 변경
numbers

[6, 8, 0, 5, 9]

In [144]:
numbers = [9,5,0,8,6]
numbers.sort(reverse=True) # 내림차순
numbers

[9, 8, 6, 5, 0]

## 1.9 리스트 복제

In [147]:
# 얕은 복사
numbers = [5,6,1,9]
new_numbers = numbers # 얕은복사
new_numbers.sort()
print('원본 :',numbers)
print('정렬 :',new_numbers)
print('원본주소', id(numbers))
print('정렬본주소', id(new_numbers))

원본 : [1, 5, 6, 9]
정렬 : [1, 5, 6, 9]
원본주소 1946606570816
정렬본주소 1946606570816

In [148]:
#깊은 복사(복제)
numbers = [5,6,1,9]
new_numbers = numbers.copy() # numbers를 복제 (깊은복사)
new_numbers.sort(reverse=True) # 내림차순 정렬
print('원본 :',numbers)
print('정렬 :',new_numbers)
print('원본주소', id(numbers))
print('정렬본주소', id(new_numbers))

원본 : [5, 6, 1, 9]
정렬 : [1, 5, 6, 9]
원본주소 1946605912320
정렬본주소 1946606385536

In [151]:
city = ['서울', '부산', '대전', '대구', '인천', '제주']
temp = city.copy()
temp.sort()
print('정렬전 :',' '.join(city))
print('정렬후 :',' '.join(temp))

정렬전 : 서울 부산 대전 대구 인천 제주
정렬후 : 대구 대전 부산 서울 인천 제주

# 2절. 튜플
- 리스트와 유사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정이 불가 하므로 튜블에 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- () 이용해서 생성

In [155]:
city = ('서울', '부산', '대전', '대구', '인천', '제주')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '대전', '대구', '인천', '제주')

In [156]:
', '.join(city)

'서울, 부산, 대전, 대구, 인천, 제주'

In [154]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [158]:
city = ('서울') # 요소가 하나 있는 튜플(x)
print(type(city))
print(city)

<class 'str'>
서울

In [160]:
city = ('서울',) #  요소가 하나 있는 튜플(o)
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [ ]:
a, b = 10, 20
#(a, b) = (10, 20)

In [161]:
numbers = 1,2,3
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 3)

In [ ]:
# numbers.remove(3) 수정하기위한 함수는 제공되지 않음

In [162]:
min(numbers),max(numbers),len(numbers)

(1, 3, 3)

In [163]:
numbers = (0,1,2,(1,2),0,1,2)
numbers.count(2)

2

In [164]:
numbers.index(2) # 2가 있는 곳의 index

2

In [165]:
numbers.index(2,3) # 3번째 index 부터 2가 나오는 index

6

In [168]:
safe_index(numbers, 4)

-1

In [167]:
def safe_index(lst,item):
    return lst.index(item) if item in lst else -1

In [169]:
numbers = (1,2,3)
numbers + numbers # 연결

(1, 2, 3, 1, 2, 3)

In [170]:
numbers * 3 # 반복

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [171]:
# ex. 짝수 요소들을 추출하여 제곱한 리스트를 출력하시오
numbers = (1,2,3,4,5,6,7)
[data**2 for data in numbers if data%2==0]

[4, 16, 36]

# 3절. 딕셔너리
cf. 자바에서의 hashMap
- 중괄호({})를 이용해서 딕셔너리를 생성. 키(key)-값(value)쌍으로 구성된 자료구조
- 키는 유일한 값(중복허용안함). 키에 list는 사용 불가. 키에 tuple은 사용 가능
- 값은 중복 가능. 모든 데이터 타입이 가능
- 없는 키값을 참조하면 에러 발생
- 인덱스를 이용한 참조는 지원 안 함

In [188]:
dic = {'name' : '홍길동', 1 : 23, (1,2):[1,2]}
print(type(dic))
print(dic)
len(dic) # 데이터 요소의 갯수

<class 'dict'>
{'name': '홍길동', 1: 23, (1, 2): [1, 2]}

3

In [189]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [190]:
my_favorite['fruit']

'apple'

In [191]:
my_favorite.get('fruit')

'apple'

In [193]:
# my_favorite['people'] # 키목록에 없는 데이터를 인덱스로 참조시 에러
print(my_favorite.get('people')) # 없는 키를 get함수로 호출시 None

None

In [199]:
# 딕셔너리 수정
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite['fruit'] = 'mango'
print('fruit수정후 :',my_favorite)
my_favorite['people'] = '홍길동'
print('people 추가후 :', my_favorite)
print('데이터 갯수 :', len(my_favorite))
# del my_favorite['sport'] # sport : golf 제거
# del(my_favorite['sport'])
my_favorite.pop('sport')
print('sport 제거후 :',my_favorite)

fruit수정후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
people 추가후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
데이터 갯수 : 4
sport 제거후 : {'fruit': 'mango', 'number': 12, 'people': '홍길동'}

In [202]:
my_tuple = ('홍길동', 30, '010-9999-9999')

In [206]:
for data in my_tuple:
    print(data, end='\t')
print()
for idx in range(len(my_tuple)):
    print(my_tuple[idx], end='\t')
print()
for idx, value in enumerate(my_tuple):
    print('{}번째{}'.format(idx, value), end='\t')

홍길동	30	010-9999-9999
홍길동	30	010-9999-9999
0번째홍길동	1번째30	2번째010-9999-9999

In [221]:
#for 문으로 딕셔너리 출력
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [220]:
# 딕셔너리에서는 enumerate 사용에 의미가 없음
for idx, key in enumerate(my_dic):
    print(idx, key)

0 name
1 age
2 tel

In [216]:
my_dic.keys() #키 목록

dict_keys(['name', 'age', 'tel'])

In [217]:
my_dic.values() # 값 목록

dict_values(['홍길동', 30, '010-9999-9999'])

In [218]:
my_dic.items() # 키-값의 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [223]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	30	010-9999-9999

In [225]:
for key, value in my_dic.items():
    print('{}:{}'.format(key, value), end='\t')

name:홍길동	age:30	tel:010-9999-9999

In [226]:
# in 연산자
t = (10,20,30)
30 in t
# list, tuple, set에서의 in 연산자는 요소가 있는지 여부 반환

True

In [227]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}
'name' in my_dic
# 딕셔너리에서의 in 연산자는 키가 있는지 여부 반환

True

In [228]:
'홍길동' in my_dic

False

In [231]:
# 얕은 복사
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
new_favorit = my_favorite # 얕은 복사(할당)
print('my_favorite의 주소',id(my_favorite))
print('new_favorit의 주소',id(new_favorit))

my_favorite의 주소 1946605643264
new_favorit의 주소 1946605643264

In [232]:
new_favorit['fruit'] = '과일은 다 좋아. 하나를 어찌 선택해'
new_favorit['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorit)

원본 : {'fruit': '과일은 다 좋아. 하나를 어찌 선택해', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
수정본 : {'fruit': '과일은 다 좋아. 하나를 어찌 선택해', 'number': 12, 'sport': 'golf', 'people': '홍길동'}

In [233]:
# 깊은 복사
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
new_favorit = my_favorite.copy() # 깊은 복사
print('my_favorite의 주소',id(my_favorite))
print('new_favorit의 주소',id(new_favorit))

my_favorite의 주소 1946605675648
new_favorit의 주소 1946605672256

In [234]:
new_favorit['fruit'] = '과일은 다 좋아. 하나를 어찌 선택해'
new_favorit['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorit)

원본 : {'fruit': 'apple', 'number': 12, 'sport': 'golf'}
수정본 : {'fruit': '과일은 다 좋아. 하나를 어찌 선택해', 'number': 12, 'sport': 'golf', 'people': '홍길동'}